body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.vh-100 {
  height: 100vh;
}

.br-3 {
  border-radius:.5rem
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.m-2 {
  margin: 0.5rem;
}

.bw-2 { 
  border-width: 0.25rem;
}

.shadow-5 {
  box-shadow:4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ba{
  border-style:solid;
  border-width:1px;
}

.b--green {
  border-color:#19a974;
}

.bg-black {
  background-color:#000;
}

.bg-lightest-blue{
  background-color:#cdecff;
}

.text-white {
  color: #fff;
}

.w-100 {
  width: 100%;
}

input {
  font-size: 1.5rem;
}

.card-div {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 240px;
  height: 240px;
  border-bottom: 5px solid red;
}

.card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}